	html,body{
		width: 100vw;
		height: 100vh;
		padding: 0;
		overflow: hidden;
		margin: 0;
		top: 0;
	}

	
	header{
		width: 100vw;
		height: 5vh;
		background: lightgray;;
		bottom: 0;
	    left: 0;
	}

	nav{
		width: 20vw;
		height: 95vh;				
		background: slategray;
		float: left;
	    bottom: 0;
	    left: 0;	    
	}
	
	main{
		width: 80vw;
		height: 95vh;
		background: white;
		float: left;
	    bottom: 0;
	    left: 0;
	}
	/*
	div{
		margin: 10px;
	}
	*/
	iframe{
		height: 95vh;
		width: 80vw;
  		bottom: 0;
	    left: 0;
	    padding: 0;
	}

	nav>ul>li{
		font-size: x-large;
		margin-bottom: 5px;
	}

	header>h4{
		margin-left: 10px;
		font-size: medium;
	}